
{% capture proj_url %}{{ page.url | remove:'/' | remove:'portfolio' | remove:'index.html' }}{% endcapture %}

{% comment %} DEALSEEKER {% endcomment %}
{% if proj_url == 'ds' %}


<p>Dealseeker was a really interesting group project in which each member of the group was given a specific role.</p>
<p>My role was focused on working closely with the <b>Google Maps API</b> to create all the features and interactions with the map.</p>
<p>The main tools and technologies I used in this project were the following:</p>
<ul>
	<li>Javascript</li>
	<li>Jquery</li>
	<li>Google Maps API v3</li>
</ul>
<p>I also made use of the <b>GeoJSON</b> format for encoding a collection of markers (points) which were then loaded onto the map.</p>
<p>The project was hosted on <b>Github</b> and each member of the group created a personal branch to work with. "Git cycles" were done regularly where branches were merged with the master branch.</p>

{% comment %} STREET JACKETS {% endcomment %}
{% elsif proj_url == 'sj' %}


<p>Street Jackets is a real life food truck business based in Wanganui.</p>
<p>The owners wanted a simple and nice looking website where they could show their schedule, food menu and contact details.</p>
<p>The website features:</p>
<ul>
	<li>a responsive one page layout,</li>
	<li>a responsive slideshow with swipe slide enabled for touch devices,</li>
	<li>a jquery slide transition effect when navigating through different sections and</li>
	<li>a fixed top navigation bar (Back to Top) created on the fly (JQuery) when the user scrolls down the page.</li>
</ul>
<p>The website was created from zero using <b>Sublime Text</b> Editor and <b>Bootstrap</b> for layout.</p>
<p>All the JS/JQuery functions were placed in a separate file to make it <i>unobstrusive</i> and a <i>progressive enhancement</i> strategy has also been applied.</p>

{% comment %} MOVIE WEBSITE {% endcomment %}
{% elsif proj_url == 'jp' %}


<p>In this project I made used of HTML5 and CSS3 elements and properties such as:</p>
<ul>
	<li><b><i>video</i></b>: for the movie trailer section,</li>
	<li><b><i>transform + rotate</i></b>: to create the <i>rotate</i> effect in the menu items,</li>
	<li><b><i>transform + perspective</i></b>: to keep the size of the rotating 'box' the same during the transition</li>
	<li><b><i>transition</i></b>: to animate the changes from the initial state to the hover state and viceversa.</li>
</ul>
<p>I also integrated a JQuery plugin called "<i>magnific popup</i>" to create the modal windows used in the "Scenes" and "The Dinosaurs" sections.</p>
<p>In addition, I reused the scroll effect and fixed top navigation bar that I implemented for the <a href="{{"/portfolio/sj/index.html" | prepend: site.baseurl}}">Street Jackets project</a>.</p>
<p>For the responsive grid based layout I used Bootstrap.</p>

{% comment %} GUAPAS {% endcomment %}
{% elsif proj_url == 'shop' %}


<p>This ecommerce project was built using a <b>Shopify CMS</b> basic template and I really enjoyed it from a development point of view.</p>
<p>I find the <b>Liquid</b> template language really convenient for creating templates not only with shopify but with other applications like jekyll. This website itself has been created using Jekyll and Liquid.</p>
<p>I also worked with Sass as it is now part of Shopify.</p>

{% comment %} BRAND GUIDELINES {% endcomment %}
{% else %}


<p>In this project I focused on integrating a couple of Javascript plugins into the design.</p>
<ul>
	<li><b>Booklet</b>:&nbsp;a jQuery tool for displaying content on the web in a flipbook layout and,</li>
	<li><b>Smoke</b>:&nbsp;a smoke effect which I used to create the effect of smoke coming from the background image.</li>
</ul>

{% endif %}