<!DOCTYPE HTML>
<html lang="en-US">

{% include head.html %}

<body>

	<div class="page-wrap">

		<section class="main-header regular">

	    <div class="vertical-container">

	    	<div class="wrapper clearfix">

	    		{% include header.html %}
				
				</div>

	    </div>

		</section>

		<article class="main-content">
			<div class="wrapper clearfix">
				{{ content }}
			</div>
		</article>

	</div>

	{% include footer.html %}
	
	<!--  include scroll-top-btn.html  -->
  {% include script-tags.html %}

</body>
</html>